@charset "utf-8";
/* CSS Document */
	
#top{
	width:100%;
	}	
#comment-list{
	margin:1em 0;}	
#comment-list li{
	display:flex;
	margin-top:1.3em;}	
	
.detail{
	margin-top:0.3em;}	
.thumb{
	margin:1em 0;
}	

#origin-img{
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	}
#origin-img .swiper-slide img{
	width:100%;
	vertical-align:middle;
	}	
.swiper-pagination{
	top:1em;
	bottom:auto;
	color:#fff;}	
